<br />

<div class="col-12">
    <div class="col-8">
        <h1>Add company vehicle</h1>
    </div><br />
    <div class="col-8">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Tracker ID</h4>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
</div>
